/* .container {
  padding-left: 15px;
  padding-right: 15px;
} */

header {
  margin: 0px 40px 0px 40px;
}

.container {
  margin: 0px 40px 0px 40px;
}

body {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 0 auto;
    max-width: 1000px;
    margin: 0 auto;
  }
}
